# Python cache files

**pycache**/

# Compiled Python files

*.pyc
*.pyo
*.pyd

# Virtual environments

venv/
env/

# VS Code settings

.vscode/

# Operating System files

Thumbs.db
.DS_Store
